node_modules/
.DS_Store
*.log
.idea/
.vscode/
dist/
.capacitor/
*.apk
*.aab
*.keystore
local.properties
.gradle/
**/build/
**/captures/
.externalNativeBuild/
.cxx/
*.iml
.DS_Store
.idea/caches/
.idea/libraries/
.idea/modules.xml
.idea/workspace.xml
.idea/navEditor.xml
.idea/assetWizardSettings.xml
.cxx/
sync.config.js
www/sync.config.js

